{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<link href="bootstrap.min.css" rel="stylesheet">
<link href="challenge_page.css" rel="stylesheet">
{% block title %}Stryv Challenge Page{% endblock %}

{% block content %}

<body >


    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="min-width:1100px">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"> My Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Today's Challenges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Challenge</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class = "row" style="background-color: white;">
        {% for challenge in challenges %}
            <div class = "col-sm-4">
                <h5>Today's challenges</h5>
                        <div class="card" style="width:200px;float:left;">
                            <div class="card-body" style="background-color:lightcyan;">
                                <!-- {%  if challenge.image %}
                                <img class="card-img-top" src="{{ challenge.image }}">
                                {% endif %} -->
                                <h5 class="card-title">{{challenge.title}}</h5>
                                    <p class="card-text">{{challenge.description}}</p>

                                    <form class="challenge_pick" role="form">
                                      <input id='idA01-01-2017' type='hidden' value="1234"/>
                                      <button type="button">Take on challenge</button>
                                    </form>

                                    <!-- <a href="{{ self??.link }}" class="btn btn-primary">Accept challenge</a> -->
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

</body>

{% endblock %}
