$light-grey: rgba(0, 0, 0, 0.25);

.form-prefix-icon {
  color: $light-grey !important;
}

.sign-in-logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sign-in-up-col {
  @extend %col;

  max-width: 35rem;
  min-width: 18rem;
  height: fit-content;
  height: -moz-fit-content;
}

.sign-in-up-row {
  @extend %row;
}

.form {
  width: 100%;
}

.sign-in-up-button {
  width: 100%;
}

.sign-in-up-link {
  text-align: center;
}
